*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', 'sans-serif';
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navbar-fluid {
  background: black;
}

.navbar-info {
  line-height: 50px;
  font-family: 'Monserrat', Arial, Helvetica, sans-serif;
}

.navbar-info .date-left {
  padding-right: 16px;
}

.navbar-info a {
  color: gainsboro;
  font-family: 'Monserrat', Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 14.5px;
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

.navbar-info a:hover {
  color: aqua;
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
  text-shadow: 0 0 10px #17ebeb;
}

.navbar-info .contact-right > a {
  padding: 0px 16px;
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

.navbar-info .contact-right > a:hover {
  color: aqua;
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
  text-shadow: 0 0 10px #17ebeb;
}

.navbar-info .message span {
  padding: 0 16px;
  color: gainsboro;
  cursor: pointer;
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

.navbar-info .message span:hover {
  color: aqua;
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
  text-shadow: 0 0 10px #17ebeb;
}

.navbar-info .message > span:last-child {
  padding-right: 0;
}

.wrapper {
  position: fixed;
  top: 50px;
  left: 0;
  min-width: 100%;
  z-index: 1;
  padding: 20px 0;
}

.wrapper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .content .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2323;
}

.logo a img {
  max-width: 120px;
}

.content .links li {
  list-style: none;
}

.content .links > li {
  position: relative;
}

.logo a {
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  color: aqua;
  font-weight: 600;
}

.content .links li a {
  display: block;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  padding: 9px 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.content .links li label {
  display: none;
}

.content .links li a:hover,
.content .links li label:hover {
  color: aqua;
  font-weight: 500;
  background: black;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
  text-shadow: 0 0 10px #17ebeb;
}

.content .links > li > a:hover {
  background: transparent;
}

.wrapper .search-icon,
.wrapper .menu-icon {
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}

.wrapper .menu-icon {
  display: none;
}

.wrapper #show-search:checked ~ .search-icon i::before {
  content: "\f00d";
}

.wrapper input[type="checkbox"] {
  display: none;
}

/* Dropdown Menu code start */
.content .links label {
  display: none;
}

.content .links ul {
  position: absolute;
  background: white;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  padding: 0;
}

.content .links li:hover > ul {
  top: 100%;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 12;
}

.content .links ul li a,
.content .links ul li ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 165px;
  line-height: 20px;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.content .links ul ul {
  position: absolute;
  top: 0;
  right: -100%;
}

.content .links ul li {
  position: relative;
  border-radius: none;
}

.content .links ul li:hover ul {
  top: 0;
  left: 100%;
}

.content .links ul li ul li a,
.content .links ul li a {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9rem;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.content .links ul li ul li a .badge,
.content .links ul li a .badge {
  padding: 3px 7px;
  display: inline-block;
  border-radius: 100px;
  background-color: aqua;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  color: black;
  margin: 0;
}

.nav-contact {
  margin-left: 20px;
}

.nav-contact label + label, .nav-contact button {
  margin-left: 30px;
  cursor: pointer;
  color: white;
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

.nav-contact label:hover {
  color: aqua;
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

.search-content, .user-content {
  position: fixed;
  top: 0;
  right: -200%;
  height: 100vh;
  color: black;
  background: white;
  margin-left: 0;
  max-width: 500px;
  z-index: 32;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cancel__arrow {
  padding: 25px;
  color: black;
  cursor: pointer;
}

.cancel__arrow i {
  font-size: 19px;
  font-weight: 900;
}

.search__form {
  padding: 25px 25px 75px;
}

.search__form h1 {
  font-size: 48px;
  color: black;
  font-weight: 900;
  margin: 24px 0;
}

.search__form .badges .badge {
  margin: 0 10px 12.5px 0;
}

.search__form p {
  margin: 1.5rem 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.search__form p a {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: aqua;
  text-decoration: none;
}

.search__form input {
  width: 100%;
  height: 50px;
  background: no-repeat;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.075);
  border: none;
  border-radius: 4px;
  line-height: 1.2;
  color: blue;
  margin-bottom: 20px;
}

.search__form input:focus {
  outline: none;
}

#show-search:checked ~ .search-content {
  right: 0;
  z-index: 9999;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#show-user:checked ~ .user-content {
  right: 0;
  z-index: 9999;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  padding: 10px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 9000;
}

/* Responsive code start */
@media screen and (max-width: 1198.98px) {
  .wrapper {
    top: 0;
    cursor: w-resize;
  }
  .wrapper .container-xl {
    padding-left: 25px;
    padding-right: 25px;
  }
  .wrapper .menu-icon {
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before {
    content: "\f00d";
  }
  .content .links label {
    display: block;
    font-size: 24px;
    font-weight: 700;
  }
  .content .links label:hover {
    font-weight: 700 !important;
  }
  nav .content .links {
    display: block;
    position: fixed;
    background: white;
    height: 100vh;
    width: 100%;
    top: 0;
    right: -100%;
    margin-left: 0;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 500px;
    overflow-y: auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .mobile__chevron {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav #show-menu:checked ~ .content .links {
    right: 0%;
  }
  .content .links li {
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label {
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link {
    display: none;
  }
  .content .links ul,
  .content .links ul ul {
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-home:checked ~ ul,
  .content .links #show-home-items:checked ~ ul,
  .content .links #show-home-items2:checked ~ ul,
  .content .links #show-pages:checked ~ ul,
  .content .links #show-about-items:checked ~ ul,
  .content .links #show-services-items:checked ~ ul,
  .content .links #show-contact-items:checked ~ ul,
  .content .links #show-blog:checked ~ ul,
  .content .links #show-blog-items:checked ~ ul,
  .content .links #show-services:checked ~ ul {
    max-height: 120vh;
  }
  .content .links ul li {
    margin: 7px 20px;
  }
  .content .links ul li a {
    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: 576px) {
  .search-content, .user-content, .list {
    width: 100%;
  }
}

.btn {
  text-transform: uppercase;
  color: #3b3131;
  font-weight: 600;
  font-size: 17px;
  background: aqua;
  border: 2px solid aqua;
  padding: 9px 25px;
  white-space: nowrap;
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

.btn:hover {
  background: #17ebeb;
  border-color: #17ebeb;
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
  color: white;
  text-shadow: 0 0 5px black;
  -webkit-box-shadow: 0 0 5px #17ebeb;
          box-shadow: 0 0 5px #17ebeb;
}

.btn-outline {
  background: transparent;
  margin-left: 24px;
  color: black;
}

.splide {
  position: relative;
}

.splide__slide {
  position: relative;
  height: calc(100vh - 50px);
  background-color: #10109e;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.splide__slide .splide__overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.splide__slide .splide__overlay .text {
  width: 60%;
  padding: 3rem 0;
  z-index: 333;
}

.splide__slide .splide__overlay .text h1 {
  font-size: 72px;
  font-weight: 900;
  color: aqua;
  padding: 0;
  margin: 24px 0;
}

.splide__slide .splide__overlay .text p {
  font-size: 19.2px;
  font-weight: 500;
  padding: 0;
  margin: 24px 0;
  color: whitesmoke;
}

.splide__pagination {
  position: absolute;
  top: calc(50% - 50px);
  width: 150px;
  height: 30px;
  left: 92%;
  top: 50%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.splide__pagination .splide__pagination__page {
  width: 20px;
  border-radius: 3px;
  height: 20px;
  background: transparent;
  border: 2px solid aqua;
  margin: 5px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.splide__pagination .splide__pagination__page.is-active {
  border-radius: 10px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: transparent;
  -webkit-box-shadow: 0 0 10px #17ebeb;
          box-shadow: 0 0 10px #17ebeb;
}

.splide__arrows {
  display: none;
}

.slide__three {
  width: 45% !important;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .text__three {
    width: 45% !important;
    margin-left: auto;
  }
}

@media (max-width: 1199.98px) {
  .splide__container {
    padding-left: 37px;
    padding-right: 37px;
  }
  .splide__pagination {
    left: 90%;
  }
  .text__two {
    width: 100%;
  }
  .text__three {
    width: 65%;
    margin-left: auto;
  }
}

@media (max-width: 992px) {
  .splide__slide {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .splide__pagination {
    left: 88%;
  }
  .text h1 {
    font-size: 56px !important;
  }
  .text__two {
    width: 100%;
  }
  .text__three {
    width: 65% !important;
    margin-left: auto;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .splide__container {
    padding-left: 25px;
    padding-right: 25px;
  }
  .splide__container .splide__overlay {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .splide__pagination {
    left: 84%;
  }
  .text h1 {
    font-size: 48px !important;
    text-align: left !important;
  }
  .text p {
    text-align: left;
  }
  .text .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 24px;
  }
  .text .buttons .btn {
    position: relative;
    min-width: 180px;
    font-size: 0.9rem;
  }
  .text .buttons .btn-outline {
    margin-left: 24px;
    margin-top: 0;
  }
  .text__three {
    width: 90% !important;
    margin-top: 0;
    text-align: left;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .splide__pagination {
    left: 78%;
  }
}

@media (max-width: 430px) {
  .splide__container {
    padding-left: 25px;
    padding-right: 25px;
  }
  .splide__container .splide__overlay {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .splide__pagination {
    left: 74%;
  }
  .text {
    width: 90% !important;
  }
  .text h1 {
    font-size: 40px !important;
  }
  .text p {
    font-size: 16px !important;
    margin-bottom: 0 !important;
  }
  .text .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 24px;
  }
  .text .buttons .btn {
    position: relative;
    max-width: 180px;
    font-size: 0.9rem;
  }
  .text .buttons .btn-outline {
    margin-left: 0;
    margin-top: 24px;
  }
  .text__two {
    width: 90%;
  }
}

.collection-section .collection__item {
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
}

.collection-section .collection__item:hover img {
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.collection-section .collection__item:hover .collection__item__content {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  border-radius: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.collection-section .collection__item .collection__item__content {
  -webkit-transform: translate(100%, 100%);
          transform: translate(100%, 100%);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 70%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.collection-section .collection__item .collection__item__content h4 {
  font-size: 24px;
  font-weight: 600;
  color: aqua;
}

.collection-section .collection__item .collection__item__content p {
  color: whitesmoke;
}

.collection-section .collection__item .collection__item__content .btn {
  color: black;
  display: block;
}

.womans-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #111117;
  position: relative;
  overflow: hidden;
}

.womans-section .woman-large {
  padding-right: 48px;
  z-index: 32;
}

.womans-section .woman-large .woman__large__img {
  overflow: hidden;
}

.womans-section .woman-large .woman__large__img img {
  max-width: 100%;
  position: relative;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 65;
}

.womans-section .woman-large h1 {
  position: relative;
  font-size: 50px;
  font-weight: 700;
  font-style: italic;
  color: aqua;
  margin: 48px 0;
  z-index: 65;
}

.womans-section .woman-large h1::after {
  content: "";
  width: 50%;
  height: 4px;
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: aqua;
}

.womans-section .woman-large h1 a {
  color: aqua;
}

.womans-section #myBtnContainer,
.womans-section #myBtnContainerMan {
  margin-bottom: 48px;
  background: transparent;
}

.womans-section .filterDiv,
.womans-section .filterDivMan {
  color: #ffffff;
  background: transparent;
  max-width: 100%;
  text-align: center;
  display: none;
  z-index: 999;
}

.womans-section .filterDiv .woman-card,
.womans-section .filterDivMan .woman-card {
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.womans-section .filterDiv .woman-card .woman__card__img,
.womans-section .filterDivMan .woman-card .woman__card__img {
  background-color: #efefef;
}

.womans-section .filterDiv .woman-card .woman__card__img img,
.womans-section .filterDivMan .woman-card .woman__card__img img {
  width: 100%;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.womans-section .filterDiv .woman-card:hover,
.womans-section .filterDivMan .woman-card:hover {
  -webkit-box-shadow: 0 0 15px aqua;
          box-shadow: 0 0 15px aqua;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateY(-12.5px);
          transform: translateY(-12.5px);
}

.womans-section .filterDiv .woman-card:hover img,
.womans-section .filterDivMan .woman-card:hover img {
  -webkit-transform: translate(-10%, -10%);
          transform: translate(-10%, -10%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.womans-section .filterDiv .woman-card:hover .woman__card__socials,
.womans-section .filterDivMan .woman-card:hover .woman__card__socials {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.womans-section .filterDiv .woman-card:hover .woman__card__info,
.womans-section .filterDivMan .woman-card:hover .woman__card__info {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.womans-section .filterDiv .woman-card .woman__card__socials,
.womans-section .filterDivMan .woman-card .woman__card__socials {
  width: 35%;
  height: 90%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0)), to(aqua));
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), aqua);
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 23px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.womans-section .filterDiv .woman-card .woman__card__socials span,
.womans-section .filterDivMan .woman-card .woman__card__socials span {
  font-size: 16px;
  color: black;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 10px 5px;
  cursor: pointer;
}

.womans-section .filterDiv .woman-card .woman__card__socials span:hover,
.womans-section .filterDivMan .woman-card .woman__card__socials span:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: red;
}

.womans-section .filterDiv .woman-card .woman__card__info,
.womans-section .filterDivMan .woman-card .woman__card__info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0)), to(aqua));
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), aqua);
  cursor: pointer;
  padding: 15px;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-align: left;
}

.womans-section .filterDiv .woman-card .woman__card__info h4,
.womans-section .filterDivMan .woman-card .woman__card__info h4 {
  font-size: 20px;
  color: crimson;
  font-weight: 600;
}

.womans-section .filterDiv .woman-card .woman__card__info p,
.womans-section .filterDivMan .woman-card .woman__card__info p {
  font-size: 14px;
  color: black;
  font-weight: 600;
}

.womans-section .filterDiv .woman-card .woman__card__info .card__btn,
.womans-section .filterDivMan .woman-card .woman__card__info .card__btn {
  display: inline-block;
  color: black;
  border-bottom: 2px solid black;
  font-weight: 600;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  white-space: nowrap;
}

.womans-section .filterDiv .woman-card .woman__card__info .card__btn:hover,
.womans-section .filterDivMan .woman-card .woman__card__info .card__btn:hover {
  color: red;
  border-bottom: 2px solid red;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.womans-section .woman-filter {
  z-index: 6565;
}

.womans-section .show,
.womans-section .showMan {
  display: block;
}

.womans-section .filterBtn,
.womans-section .filterBtnMan {
  display: inline-block;
  padding: 8px 16px;
  color: white;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  z-index: 999;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.womans-section #myBtnContainer,
.womans-section #myBtnContainerMan {
  z-index: 98989;
}

.womans-section .filterBtn:hover,
.womans-section .filterBtnMan:hover {
  border-bottom: 2px solid aqua;
  color: aqua;
  text-shadow: 0 0 10px #17ebeb;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.womans-section .filterBtn.active,
.womans-section .filterBtnMan.activeMan {
  border-bottom: 2px solid aqua;
  color: aqua;
  text-shadow: 0 0 10px #17ebeb;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.sale {
  position: absolute;
  top: 30px;
  left: 0;
  padding: 3px 8px;
  background: #f30000;
  color: white;
  font-size: 13px;
  letter-spacing: 1px;
  z-index: 23;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.new {
  position: absolute;
  top: 30px;
  left: 0;
  padding: 3px 8px;
  background: #1d5ad0;
  color: white;
  font-size: 13px;
  letter-spacing: 1px;
  z-index: 23;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.autoSlider-section {
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
  background: -webkit-gradient(linear, left top, right bottom, from(#0099ff), to(aqua));
  background: linear-gradient(to bottom right, #0099ff, aqua);
  overflow: hidden;
}

.autoSlider-section::after, .autoSlider-section::before {
  content: "";
  position: absolute;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0)), to(aqua));
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), aqua);
  width: 15%;
  height: 100%;
  z-index: 2;
}

.autoSlider-section::before {
  left: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.autoSlider-section::after {
  right: 0;
  top: 0;
}

.autoSlider-section .auto-slide {
  position: relative;
  height: 100%;
  -webkit-animation: scroll 35s linear infinite;
          animation: scroll 35s linear infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.autoSlider-section .auto-slide:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.autoSlider-section .auto-slide .slider {
  position: relative;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.autoSlider-section .auto-slide .slider:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.autoSlider-section .auto-slide .slider img {
  cursor: pointer;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.autoSlider-section .auto-slide .slider:hover .sale, .autoSlider-section .auto-slide .slider:hover .new {
  top: -20px;
  left: -30px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 9));
            transform: translateX(calc(-250px * 9));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 9));
            transform: translateX(calc(-250px * 9));
  }
}

.trends-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f8fb;
  color: white;
}

.trends-section .trend__card {
  position: relative;
  cursor: pointer;
  margin-bottom: 150px;
}

.trends-section .trend__card .trend__card__img {
  overflow: hidden;
}

.trends-section .trend__card .trend__card__img img {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.trends-section .trend__card:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.trends-section .trend__card .trend__info {
  position: absolute;
  bottom: -50%;
  max-width: 85%;
  color: black;
  background-color: white;
  left: 7.5%;
  padding: 25px;
}

.trends-section .trend__card .trend__info p {
  margin: 0;
  font-size: 13px;
  color: #9b9898;
}

.trends-section .trend__card .trend__info h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
  margin: 10px 0;
}

.trends-section .trend__card .trend__info .trend__btn {
  border-bottom: 2px solid black;
  color: black;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.trends-section .trend__card .trend__info .trend__btn:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: red;
  border-bottom: 2px solid red;
}

.trends__title {
  text-align: center;
}

.trends__title h5 {
  color: black;
  font-size: 20px;
  font-weight: 600;
}

.trends__title h1 {
  position: relative;
  display: inline-block;
  font-size: 50px;
  font-weight: 700;
  font-style: italic;
  color: aqua;
  margin-top: 10px;
  margin-bottom: 48px;
  z-index: 65;
}

.trends__title h1::after {
  content: "";
  width: 50%;
  height: 4px;
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: aqua;
}

.touch-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background: black;
}

.touch-section .contact-column-1 {
  max-width: 780px;
}

.touch-section .contact-column-1 .video__title {
  text-align: left;
}

.touch-section .contact-column-1 textarea {
  min-height: 152px;
}

.touch-section .contact-column-2 h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: aqua;
  overflow-wrap: break-word;
  margin-bottom: 1.5rem;
}

.touch-section .contact-column-2 p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 1.5rem 0px;
  color: white;
}

.touch-section .contact-column-2 .last-p {
  margin-bottom: 37px;
}

.touch-section .contact-column-2 .contact-items .contact-item {
  margin: 21px 0px;
  line-height: 1.5;
}

.touch-section .contact-column-2 .contact-items .contact-item a {
  font-size: 1.2rem;
  font-weight: 400;
  color: aqua;
  padding: 5px 0px;
}

.touch-section .contact-column-2 .contact-items .contact-item a span {
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
  background: crimson;
  border-radius: 100px;
  margin-right: 8px;
  color: aqua;
}

.touch-section .contact-column-2 .contact-items button {
  color: aqua;
  margin-left: 0;
}

.touch-section .contact-column-2 .contact-items button:hover {
  color: white;
}

.input {
  width: 100%;
  height: 50px;
  background: no-repeat;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 1rem;
  background-color: white;
  border: none;
  border-radius: 4px;
  line-height: 1.2;
  color: #6c757d;
}

.input:focus {
  outline: none;
}

@media (min-width: 768px) {
  .contact-column-1 {
    padding-right: 48px;
  }
}

@media (max-width: 1198.98px) {
  .touch-section .container-xl {
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media (max-width: 767.98px) {
  .touch-section .contact-column-2 {
    margin-top: 40px;
  }
}

.footer-area {
  position: relative;
  z-index: 1;
}

.footer-area::after {
  background-color: #005;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.footer-area .main-footer-area {
  position: relative;
  z-index: 1;
  padding-top: 80px;
}

.footer-area .single-footer-widget {
  position: relative;
  z-index: 1;
  margin-bottom: 70px;
}

.footer-area .single-footer-widget p {
  color: aqua;
  margin-bottom: 20px;
}

.footer-area .single-footer-widget .social-info a {
  display: inline-block;
  border: 1px solid aqua;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  color: white;
  margin-right: 5px;
  line-height: 38px;
}

.footer-area .single-footer-widget .social-info a:hover, .footer-area .single-footer-widget .social-info a:focus {
  border-color: aqua;
  background-color: aqua;
}

.footer-area .single-footer-widget .widget-title h5 {
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.footer-area .single-footer-widget .widget-nav ul {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-area .single-footer-widget .widget-nav ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  width: 50%;
}

.footer-area .single-footer-widget .widget-nav ul li a {
  display: block;
  color: aqua;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 11px;
}

.footer-area .single-footer-widget .widget-nav ul li a:hover, .footer-area .single-footer-widget .widget-nav ul li a:focus {
  color: white;
}

.footer-area .single-footer-widget .single-best-seller-product {
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}

.footer-area .single-footer-widget .single-best-seller-product::after {
  margin-bottom: 0;
}

.footer-area .single-footer-widget .single-best-seller-product .product-thumbnail {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  max-width: 70px;
  width: 70px;
  margin-right: 30px;
}

.footer-area .single-footer-widget .single-best-seller-product .product-info a {
  display: block;
  color: aqua;
  font-size: 16px;
  font-weight: 400;
}

.footer-area .single-footer-widget .single-best-seller-product .product-info a:hover, .footer-area .single-footer-widget .single-best-seller-product .product-info a:focus {
  color: white;
}

.footer-area .single-footer-widget .single-best-seller-product .product-info p {
  margin-bottom: 0;
  color: white;
  font-weight: 500;
}

.footer-area .single-footer-widget .contact-information p {
  line-height: 1.3;
  color: white;
  margin-bottom: 13px;
}

.footer-area .single-footer-widget .contact-information p span {
  color: aqua;
}

.footer-area .single-footer-widget .contact-information p:last-child {
  margin-bottom: 0;
}

.footer-area .footer-bottom-area {
  position: relative;
  z-index: 1;
}

.footer-area .footer-bottom-area .border-line {
  width: 100%;
  height: 1px;
  background-color: #34513d;
}

.footer-area .footer-bottom-area .copywrite-text {
  position: relative;
  z-index: 1;
  padding: 20px 0;
}

.footer-area .footer-bottom-area .copywrite-text p {
  font-size: 14px;
  color: aqua;
  font-weight: 400;
  margin-bottom: 0;
}

.footer-area .footer-bottom-area .copywrite-text p a {
  font-size: 14px;
  color: white;
  font-weight: 500;
}

.footer-area .footer-bottom-area .copywrite-text p a:hover, .footer-area .footer-bottom-area .copywrite-text p a:focus {
  color: aqua;
}

.footer-area .footer-bottom-area .footer-nav {
  position: relative;
  z-index: 1;
  padding: 20px 0;
}

.footer-area .footer-bottom-area .footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.footer-area .footer-bottom-area .footer-nav ul li a {
  display: inline-block;
  color: aqua;
  font-size: 14px;
  font-weight: 400;
  margin: 0 15px;
}

.footer-area .footer-bottom-area .footer-nav ul li a:hover, .footer-area .footer-bottom-area .footer-nav ul li a:focus {
  color: white;
}

.footer-area .footer-bottom-area .footer-nav ul li:last-child a {
  margin-right: 0;
}
/*# sourceMappingURL=main.css.map */