.btn{
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: white;
  font-weight: 500;
  font-size: 14px;
  background: #fc635e;
  border: 2px solid #fc635e;
  padding: 9px 25px;
  white-space: nowrap;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all .4s ease-out 0s;
  &:hover{
    background: #fc635e;
    border-color: #fc635e;
    transition: all .4s ease-out 0s;
    color: white;
    // text-shadow: 0 0 5px black;
    // box-shadow: 0 0 5px rgb(23, 235, 235);
  }
}
.btn-outline{
  background: transparent;
  margin-left: 24px;
  color: black;
}

