.touch-section{
  @include section-padding;
  background: black;
  .contact-column-1{
    max-width: 780px;
    .video__title{
      text-align: left;
    }
    textarea{
      min-height: 152px;
    }
  }
  .contact-column-2{
    h4{
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.2;
      color: aqua;
      overflow-wrap: break-word;
      margin-bottom: 1.5rem;
    }
    p{
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      margin: 1.5rem 0px;
      color: white;
    }
    .last-p{
      margin-bottom: 37px;
    }
    .contact-items{
      .contact-item{
        margin: 21px 0px;
        line-height: 1.5;
        a{
          font-size: 1.2rem;
          font-weight: 400;
          color: aqua;
          padding: 5px 0px;
          span{
            width: 45px;
            height: 45px;
            text-align: center;
            line-height: 45px;
            font-size: 20px;
            background: crimson;
            border-radius: 100px;
            margin-right: 8px;
            color: aqua;
          }
        }
      }
      button{
        color: aqua;
        margin-left: 0;
        &:hover{
          color: white;
        }
      }
    }
  }

}

.input{
  width: 100%;
  height: 50px;
  background: no-repeat;
  box-shadow: none;
  padding: 1rem;
  background-color: white;
  border: none;
  border-radius: 4px;
  line-height: 1.2;
  color: rgb(108, 117, 125);
  &:focus{
    outline: none;
  }
}

@media (min-width: 768px) {
  .contact-column-1{
    padding-right: 48px;
  }
}

@media (max-width: 1198.98px) {
  .touch-section{
    .container-xl{
      padding-right: 25px;
      padding-left: 25px;
    }
  }
}

@media (max-width: 767.98px) {
  .touch-section{
    // @include section-smaller-padding;
    .contact-column-2{
      margin-top: 40px;
    }
  }
}